<footer>
<div class="container p-3">
    <div class="row pt-3">
        <div class="col-9">
            <p>© Copyright VNS Visibility. All Rights Reserved
            </p>
        </div>
        <div class="col-3">
            <nav class="navbar-foot">
                <a href="home" class="text-dark" >Home</a>
                <a href="about" class="text-dark">About</a>
                <a href="service" class="text-dark">privacy</a>
                <a href="Portfolio" class="text-dark">Register</a>
                <!-- <ul class="ul_list">
                    <li class="list_nav text-dark"><a href="home" class="text-dark" >Home</a></li>
                    <li class="list_nav"><a href="about" class="text-dark">About</a></li> 
                    <li class="list_nav"><a href="service" class="text-dark">privacy</a></li>
                    <li class="list_nav"><a href="Portfolio" class="text-dark">Register</a></li> -->
                    <!-- <li class="list_nav"><a href="Team" class="text-dark">Team</a></li> -->
                    <!-- <li class="list_nav"><a href="Contact" class="text-dark">Contact</a></li> -->
                    <!-- <li><button class="btn" (click)="result()">Get Started</button></li> -->
                <!-- </ul> -->
            </nav>
        </div>
    </div>

</div>
</footer>