<app-homepage></app-homepage>

<div class="aboutt">
    <Div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-6">
            <h3>ABOUT US</h3>
            <h2>Gernerate Privacy Policy</h2>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <div class="about-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS79tvI3f8lNF138_bF2AudaU3zXB7eU3Z0Qg&s">
            </div>
        </div>
    </div>
    </Div>
</div>
<div class="container join-con p-5">
    <div class="join-us">
        <h3>Join the 600,00+ business using create Prvacy</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="row p-5">
        <div class="col-1"></div>
        <div class=" col-3">
            <h4>12M+</h4>
            <p>Consents collected</p>
        </div>
        <div class=" col-3">
            <h4>12M+</h4>
            <p>Consents collected</p>
        </div>
        <div class=" col-3 ">
            <h4>12M+</h4>
            <p>Consents collected</p>
        </div>
        <div class="col-1"></div>
    </div>
</div >
<div class="bac-gr">
<div class="container p-5">
    <h3>Meet Our Team</h3>
    <p>The Designership's team is made of the best global talents</p>
    <div class="row">
        <div class="col-3">
            <div class="team-mem">
                <img src="..\assets\images\team-1.jpg">
            </div>
                <h4>Lana Steianer</h4>
                <p>Sr. Product Manager</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-3">
            <div class="team-mem">
                <img src="..\assets\images\team-1.jpg">
            </div>
                <h4>Lana Steianer</h4>
                <p>Sr. Product Manager</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-3">
            <div class="team-mem">
                <img src="..\assets\images\team-1.jpg">
            </div>
                <h4>Lana Steianer</h4>
                <p>Sr. Product Manager</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-3">
            <div class="team-mem">
                <img src="..\assets\images\team-1.jpg">
            </div>
                <h4>Lana Steianer</h4>
                <p>Sr. Product Manager</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
    <h4 class="pt-5"> Wants to be a part?</h4>
    <p>The Designership's team is made of the best global talents</p>
</div>
</div>

<app-footer></app-footer>
