/* .aboutt{
    background-image:https://www.airinfotech.in/img/privacy_policy.jpg} */
.join-con{
    text-align: center;
}
.team-mem{
    width: 100px;
}
.team-mem img{
    width: 100%;
    border-radius: 50px;
}
.bac-gr{
    background-color: #d2d9f175;
    text-align: center;
}