<!-- <input placeholder="Name" #diksha (keyup)="bann(diksha.value)">
<input placeholder="Name Key down" #geetansh (keydown)="bann(geetansh.value)">
<input placeholder="Nameinput" #dharyio (input)="bann(dharyio.value)"> -->
<!-- <input placeholder="Name" #fname >
<input placeholder="Name" #sname >
<input placeholder="Name" #name >
<input placeholder="Name" #username >
<input placeholder="Name" #idname > -->
<app-homepage></app-homepage>
<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <!-- <div class="log bg-dark text-light "  > -->
                    <div class="frm m-3 bg-dark text-light">
                        <h2>Login Page</h2>
                       <div class="inputt mt-3">
                        <input placeholder="First Name" #fname class="p-2">
                       </div>
                       <div class="inputt mt-3">
                        <input placeholder="Last Name" #sname class="p-2">
                       </div>
                       <div class="inputt mt-3">
                        <input placeholder="Email Password" #name class="p-2">
                       </div>
                       <div class="inputt mt-3">
                        <input placeholder=" Confir Password" #username class="p-2">
                       </div>
                       <div class="inputt mt-3">
                        <input placeholder="Occupation" #idname class="p-2">
                       </div>
                       <div class="btn mt-3">
                        <button class="button" (click)="userINFO(fname.value,sname.value,name.value,username.value,idname.value)">Register</button>
                       </div> 
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <!-- </div> -->


<!-- <button (click)="userINFO(fname.value,sname.value,name.value,username.value,idname.value)">Click</button>
{{message}} -->