<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-6">
            <h1 class="mt-3">Grow your business with VNS Visibilityy</h1>
            <h4 class="mt-4">We are a technologically empowered growth firm- at the divine intersection of marketing, 
                we drive the right vision to industries and expertise to drive results.</h4>
            <button class="ban-btn mt-4" (click)="showMe()">Get Started</button>
            <!-- <button class="ban-btn mt-4" (dblclick)="butnalrt()">Get Started</button> -->
        </div>
        <div class="col-6">
            <div class="banner-img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuJfgHIrOHI-1CNt-6KHr4Ez8kY3sIEzGs8Q&s">
            </div>
        </div>
    </div>
</div>
<div class="box mt-5 p-4">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="img-Com">
                    <img src="..\assets\images\client-1.png"></div>
            </div>
            <div class="col-2">
                <div class="img-Com">
                    <img src="..\assets\images\client-2.png"></div>
            </div>
            <div class="col-2">
                <div class="img-Com">
                    <img src="..\assets\images\client-3.png"></div>
            </div>
            <div class="col-2">
                <div class="img-Com">
                    <img src="..\assets\images\client-4.png"></div>
            </div>
            <div class="col-2">
                <div class="img-Com">
                    <img src="..\assets\images\client-5.png"></div>
            </div>
            <div class="col-2">
                <div class="img-Com">
                    <img src="..\assets\images\client-6.png"></div>
            </div>
        </div>
    </div>
</div>
<div class="About-us p-5">
    <div class="container">
        <div class="row">
            <div class="about-h2"><h2 class="text-align-center">ABOUT US</h2></div>
        <div class=" col-6 Meet p-5">
            <p>Meet our diverse team of digital marketing experts, crafting tailored solutions 
                for you from SEO wizards to social media gurus.</p> 
                <p><i class="ri-check-double-line"></i>SEO wizards drive online visibility and organic traffic</p>
                <p><i class="ri-check-double-line"></i>Social media gurus excel in engaging campaigns across platforms</p>
                <p><i class="ri-check-double-line"></i>Crafting personalized strategies aligning with your goals</p>
        </div>
        <div class="col-6 p-5">
            <p>Our mission is simple – to help businesses thrive in the digital landscape. Whether you're a startup looking to establish
                 your online presence or a well-established brand aiming to reach new heights, we've got you covered.</p>
                <button class="ban-btn mt-4" (click)="showMe()">Get Started</button>
        </div>

    </div>

</div>
<div class="container p-5">
    <div class="row">
        <div class="col-6">
            <div class="img-svg">
                <img src="..\assets\images\counts-img.svg">
            </div>
        </div>
        <div class="col-3">
            <div>
                <h3>65</h3>
                <p>Happy Clients are a symbol of our fulfillment, just like an architect sees his dream coming true.</p>
            </div>
            <div>
                <h3>65</h3>
                <p>Happy Clients are a symbol of our fulfillment, just like an architect sees his dream coming true.</p>
            </div>
        </div>
        <div class="col-3">
            <div>
                <h3>65</h3>
                <p>Happy Clients are a symbol of our fulfillment, just like an architect sees his dream coming true.</p>
            </div>
            <div>
                <h3>65</h3>
                <p>Happy Clients are a symbol of our fulfillment, just like an architect sees his dream coming true.</p>
            </div>
        </div>
    </div>    
</div>
